body {
    background-color: cornsilk;
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}
.cont1{
    font-size: 32px;
    margin: 5px;
    color: white;
    font-family: cursive;
}
.cont2 {
    margin: 5px;
}
.cont2 ul li {
    display: inline;
}
.cont2 ul li a {
    color: white;
    font-family: sans-serif,serif;
    text-decoration: none;
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    background-color: rgb(0, 0, 0);
}
.cont2 ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}